@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav mr-auto">
        <li>
            <a class="btn btn-outline-info btn-block" href="@Url.Action("Index", "Manage", routeValues: null)"><i class="fa fa-user"></i>Konto</a>
        </li>
        <li>
            <a class="btn btn-outline-info btn-block" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Wyloguj</a>
        </li>
    </ul>
}

