@{
    ViewBag.Title = "Potwierdzenie e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie e-mail. Proszę @Html.ActionLink("kliknąć tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
