@{
    ViewBag.Title = "Zapomniane hasło";
}

<div class="maxheight">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Proszę sprawdzić e-mail w celu zresetowania hasła.
        </p>
    </div>
    @Html.ActionLink("Strona główna","Index","Home")
</div>
	
