@{
    ViewBag.Title = "Potwierdzenie";
}

<div class="maxheight">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknąć tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
